@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
* {
  -webkit-tap-highlight-color: transparent;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
}
